/* main.css */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--button-bg);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  cursor: pointer;
}
